build==1.3.0
flake8==7.3.0
ft_package @ file:///home/mbrandao/Documents/42_python_data_science_piscine/p0-Starting/ex09/dist/ft_package-0.0.1.tar.gz#sha256=189a5745eccf58843a6cb2affbffbf1e604686255da2d456c4bc7acd3f526802
mccabe==0.7.0
packaging==25.0
pycodestyle==2.14.0
pyflakes==3.4.0
pyproject_hooks==1.2.0
setuptools==80.9.0
tqdm==4.67.1
wheel==0.45.1
